.title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: cadetblue;
  border-radius: 10px;
}

.ui.container {
  margin-top: 20px;
}